.pricingTable {
	 margin: 40px auto;
}
 .pricingTable > .pricingTable-title {
	 text-align: center;
	 color: #6e768d;
	 font-size: 3em;
	 font-size: 300%;
	 margin-bottom: 20px;
	 letter-spacing: 0.04em;
}
 .pricingTable > .pricingTable-subtitle {
	 text-align: center;
	 color: #b4bdc6;
	 font-size: 1.8em;
	 letter-spacing: 0.04em;
	 margin-bottom: 60px;
}
 @media screen and (max-width: 480px) {
	 .pricingTable > .pricingTable-subtitle {
		 margin-bottom: 30px;
	}
}
 .pricingTable-firstTable {
	 list-style: none;
	 padding-left: 1em;
	 padding-right: 2em;
	 text-align: center;
}
 .pricingTable-firstTable_table {
	 vertical-align: middle;
	 width: 31%;
	 background-color: #fff;
	 display: inline-block;
	 padding: 0px 30px 40px;
	 text-align: center;
	 max-width: 320px;
	 transition: all 0.3s ease;
	 border-radius: 5px;
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table {
		 display: block;
		 width: 90%;
		 margin: 0 auto;
		 max-width: 90%;
		 margin-bottom: 20px;
		 padding: 10px;
		 padding-left: 20px;
	}
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table > * {
		 display: inline-block;
		 vertical-align: middle;
	}
}
 @media screen and (max-width: 480px) {
	 .pricingTable-firstTable_table > * {
		 display: block;
		 float: none;
	}
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table:after {
		 display: table;
		 content: '';
		 clear: both;
	}
}
 .pricingTable-firstTable_table:hover {
	 transform: scale(1.08);
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table:hover {
		 transform: none;
	}
}
 .pricingTable-firstTable_table:not(:last-of-type) {
	 margin-right: 3.5%;
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table:not(:last-of-type) {
		 margin-right: auto;
	}
}
 .pricingTable-firstTable_table:nth-of-type(2) {
	 position: relative;
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table:nth-of-type(2) h1 {
		 padding-top: 8%;
	}
}

 @media screen and (max-width: 988px) {
	 .pricingTable-firstTable_table:nth-of-type(2):before {
		 font-size: 0.6em;
	}
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table:nth-of-type(2):before {
		 left: 10px;
		 width: 45px;
		 height: 45px;
		 top: -10px;
		 padding-top: 13px;
	}
}
 @media screen and (max-width: 480px) {
	 .pricingTable-firstTable_table:nth-of-type(2):before {
		 font-size: 0.8em;
	}
}
 .pricingTable-firstTable_table:nth-of-type(2):hover:before {
	 transform: rotate(360deg);
}
 .pricingTable-firstTable_table__header {
	 font-size: 1.6em;
	 padding: 40px 0px;
	 border-bottom: 2px solid #ebedec;
	 letter-spacing: 0.03em;
}
 @media screen and (max-width: 1068px) {
	 .pricingTable-firstTable_table__header {
		 font-size: 1.45em;
	}
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table__header {
		 padding: 0px;
		 border-bottom: none;
		 float: left;
		 width: 33%;
		 padding-top: 3%;
		 padding-bottom: 2%;
	}
}
 @media screen and (max-width: 610px) {
	 .pricingTable-firstTable_table__header {
		 font-size: 1.3em;
	}
}
 @media screen and (max-width: 480px) {
	 .pricingTable-firstTable_table__header {
		 float: none;
		 width: 100%;
		 font-size: 1.8em;
		 margin-bottom: 5px;
	}
}
 .pricingTable-firstTable_table__pricing {
	 font-size: 3em;
	 padding: 30px 0px;
	 border-bottom: 2px solid #ebedec;
	 line-height: 0.7;
}
 @media screen and (max-width: 1068px) {
	 .pricingTable-firstTable_table__pricing {
		 font-size: 2.8em;
	}
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table__pricing {
		 border-bottom: none;
		 padding: 0;
		 float: left;
		 clear: left;
		 width: 33%;
	}
}
 @media screen and (max-width: 610px) {
	 .pricingTable-firstTable_table__pricing {
		 font-size: 2.4em;
	}
}
 @media screen and (max-width: 480px) {
	 .pricingTable-firstTable_table__pricing {
		 float: none;
		 width: 100%;
		 font-size: 3em;
		 margin-bottom: 10px;
	}
}
 .pricingTable-firstTable_table__pricing span:first-of-type {
	 font-size: 0.35em;
	 vertical-align: top;
	 letter-spacing: 0.15em;
}
 @media screen and (max-width: 1068px) {
	 .pricingTable-firstTable_table__pricing span:first-of-type {
		 font-size: 0.3em;
	}
}
 .pricingTable-firstTable_table__pricing span:last-of-type {
	 vertical-align: bottom;
	 font-size: 0.3em;
	 letter-spacing: 0.04em;
	 padding-left: 0.2em;
}
 @media screen and (max-width: 1068px) {
	 .pricingTable-firstTable_table__pricing span:last-of-type {
		 font-size: 0.25em;
	}
}
 .pricingTable-firstTable_table__options {
	 list-style: none;
	 padding: 15px;
	 font-size: 0.9em;
	 border-bottom: 2px solid #ebedec;
}
 @media screen and (max-width: 1068px) {
	 .pricingTable-firstTable_table__options {
		 font-size: 0.85em;
	}
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table__options {
		 border-bottom: none;
		 padding: 0;
		 margin-right: 10%;
	}
}
 @media screen and (max-width: 610px) {
	 .pricingTable-firstTable_table__options {
		 font-size: 0.7em;
		 margin-right: 8%;
	}
}
 @media screen and (max-width: 480px) {
	 .pricingTable-firstTable_table__options {
		 font-size: 1.3em;
		 margin-right: none;
		 margin-bottom: 10px;
	}
}
 .pricingTable-firstTable_table__options > li {
	 padding: 8px 0px;
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table__options > li {
		 text-align: left;
	}
}
 @media screen and (max-width: 610px) {
	 .pricingTable-firstTable_table__options > li {
		 padding: 5px 0;
	}
}
 @media screen and (max-width: 480px) {
	 .pricingTable-firstTable_table__options > li {
		 text-align: center;
	}
}
 .pricingTable-firstTable_table__options > li:before {
	 content: '✓';
	 display: inline-block;
	 margin-right: 15px;
	 color: white;
	 background-color: #74ce6a;
	 border-radius: 50%;
	 width: 15px;
	 height: 15px;
	 font-size: 0.8em;
	 padding: 2px;
	 text-align: center;
}
 @media screen and (max-width: 1068px) {
	 .pricingTable-firstTable_table__options > li:before {
		 width: 14px;
		 height: 14px;
		 padding: 1.5px;
	}
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table__options > li:before {
		 width: 12px;
		 height: 12px;
	}
}
 .pricingTable-firstTable_table__getstart {
	 color: white;
	 background-color: #71ce73;
	 margin-top: 30px;
	 border-radius: 5px;
	 cursor: pointer;
	 padding: 15px;
	 box-shadow: 0px 3px 0px 0px rgba(102, 172, 100, 1);
	 letter-spacing: 0.07em;
	 transition: all 0.4s ease;
}
 @media screen and (max-width: 1068px) {
	 .pricingTable-firstTable_table__getstart {
		 font-size: 0.95em;
	}
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table__getstart {
		 margin-top: 0;
	}
}
 @media screen and (max-width: 610px) {
	 .pricingTable-firstTable_table__getstart {
		 font-size: 0.9em;
		 padding: 10px;
	}
}
 @media screen and (max-width: 480px) {
	 .pricingTable-firstTable_table__getstart {
		 font-size: 1em;
		 width: 50%;
		 margin: 10px auto;
	}
}
 .pricingTable-firstTable_table__getstart:hover {
	 transform: translateY(-10px);
	 box-shadow: 0px 40px 29px -19px rgba(102, 172, 100, 0.9);
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table__getstart:hover {
		 transform: none;
		 box-shadow: none;
	}
}
 .pricingTable-firstTable_table__getstart:active {
	 box-shadow: inset 0 0 10px 1px rgba(102, 165, 100, 1), 0px 40px 29px -19px rgba(102, 172, 100, 0.95);
	 transform: scale(0.95) translateY(-9px);
}
 @media screen and (max-width: 767px) {
	 .pricingTable-firstTable_table__getstart:active {
		 transform: scale(0.95) translateY(0);
		 box-shadow: none;
	}
}
 body {
	 font-family: 'Montserrat', sans-serif;
	 font-size: 100%;
	 /*background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #E4E4E4) );*/
     background-attachment: fixed;
	 /*color: #717787;*/
	 color: #000000;
}
 @media screen and (max-width: 960px) {
	 body {
		 font-size: 80%;
	}
}
 @media screen and (max-width: 776px) {
	 body {
		 font-size: 70%;
	}
}
 @media screen and (max-width: 496px) {
	 body {
		 font-size: 50%;
	}
}
 @media screen and (max-width: 320px) {
	 body {
		 font-size: 40%;
	}
}
 * {
	 padding: 0;
	 margin: 0;
	 box-sizing: border-box;
}


/*PLates*/

.dot{
  height: 50px;
  width: 50px;
  background-color: #3f8449;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 4px; /*quitar en ordenamiento horizontal*/
}

.button {
  background-color: #83bf4b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

input[type=leftbutton] {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-right: 50px solid #555;
	border-bottom: 25px solid transparent;
}

/*Calculator Buttons*/

#calculator {
  font-family: "Quicksand", sans-serif;
  margin: 0px auto;
  padding: 0;
  /*width: 300px;*/
  /*background-color: #1D1E22;*/
}

#screen {
  height: 150px;
  width: auto;
  background-color: #4269F4;
  color: whitesmoke;
  overflow: hidden;
}

#screen #calc {
  padding-top: 30px;
  font-size: 20px;
}

#screen #result {
  font-size: 50px;
}

.value,
.equals,
.C,
.CE {
  margin: 0;
  width: 247px;
  height: 60px;
  font-size: 40px;
  background-color: #f7f7f7;
  color: #717787;
  /*border: none;*/
}

/*Next and back buttons*/

.triangle-left {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 77px solid #83bf4b;
	border-bottom: 20px solid transparent;
	vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align: center;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 77px solid #83bf4b;
	border-bottom: 20px solid transparent;
	vertical-align: middle;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    align: center;
}